.__partners-list {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    // max-width: 100%;
    // padding: 0 15px;

    & .__partner-link {
        // width: 23%;
        & svg {
           transform: scale(60%); 
        }
    }
}